<header class="header">
    <div class="container">
      <div class="header-left">
        <a href="index.html" class="logo">
          <img src="images/logo_smart.png" alt="СМАРТДРУГ">
        </a>
      </div>
  
      <nav class="menu">
        <ul>
          <li><a href="catalog.html">Каталог товаров</a></li>
          <li><a href="#">Ремонт</a></li>
          <li><a href="#">Магазины</a></li>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Оплата</a></li>
          <li><a href="#">Обмен</a></li>
        </ul>
      </nav>
  
      <div class="header-right">
        <button class="btn btn-yellow">Войти</button>
        <div class="search-icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.5 13C16.5 17.0751 13.0751 20 9 20C4.92487 20 2 17.0751 2 13C2 8.92487 4.92487 6 9 6C13.0751 6 16.5 8.92487 16.5 13Z" stroke="#BDBDBD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20 20L16.65 16.65" stroke="#BDBDBD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div>
  </header>